@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}
html {
    cursor: url(assets/muisje.png), auto !important;
}

main {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.rotate {
    display: inline-block;
    -webkit-animation: rotate 4s linear infinite;
    animation: rotate 7s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

nav{
    display: flex;
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
}

nav a img{
    width: 7rem;
}

nav a img {
    cursor: url(assets/finga.png), auto !important;
}

@media screen and (max-width:600px) {
    nav h1{
        font-size: 23px;
    }
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li{
    margin-right: 4rem;
}
nav ul li a{
    color: #383838;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
    color: #f196f8;
    cursor: url(assets/finga.png), auto !important;
}
nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    display: none;
}
nav .menu-btn i:hover{
    color: #f196f8;
    text-shadow: 2px 4px 4px rgb(107, 107, 215);
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[type="checkbox"]{
    display: none;
}
@media (max-width: 1000px){
    nav{
        padding: 0 40px 0 50px;
    }
}
@media (max-width: 920px) {
    nav .menu-btn i{
        display: block;
        font-size: 30px;
    }
    nav {
        background-color: rgba(17, 17, 17, 0.9);
        height: 6rem;
        position: fixed;
        top: 0;
    }
    nav a img {
        width: 5rem;
    }
    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    nav ul{
        position: fixed;
        top: 96px;
        left: -100%;
        background: rgba(17, 17, 17, 0.9);
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 40px 0;
    }
    nav ul li a{
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 30px;
        transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
        margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
        background: none;
        color: #f196f8;
    }
}
.scroll-watcher {
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #f196f8;
    width: 100%;
    scale: 0 1;
    transform-origin: left;

    animation: scroll-watcher linear;
    animation-timeline: scroll();

    filter: drop-shadow(3px 5px 9px rgba(185, 12, 187, 0.43));
}

@keyframes scroll-watcher {
    to { scale: 1 1;}

}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #1b1b1b;
}
.content div{
    font-size: 40px;
    font-weight: 700;
}
/* Header */
footer {
    text-align: center;
    background-color: #A49FFF;
    color: #ffffff;
    height: 250px;

}

footer a {
    color: #ffffff;
}

#footer__mid p {
    font-size: 40px;
    font-family: Cormorant, serif;
    font-weight: 700;
}

footer p {
    font-weight: 700;
    font-family: Cormorant, serif;
}

footer a i {
    font-size: 50px;
    margin: 0 10px;
}

footer p i {
    font-size: 15pt;
    margin-right: 10px;
    box-shadow: #000000 ;
}

#terugnaarboven {
    position: fixed;
    bottom: 0;
    right: 25px;
    background-color: #FF8FF1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.5rem 2rem;
}
#terugnaarboven p {
    color: #ffffff;
    text-decoration: none;
}
#terugnaarboven2 {
    position: fixed;
    bottom: 0;
    right: 25px;
    background-color: #FF8FF1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1rem;
}
#terugnaarboven2 p {
    color: #ffffff;
    font-size: 25pt;
    text-decoration: none;
    text-align: center;
}
#terugnaarboven2:hover, #terugnaarboven:hover {
    box-shadow: 0 0 30px 5px rgb(234, 116, 243);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
}
@media screen and (max-width: 882px) {
    #terugnaarboven {
        display: none;
    }

}
@media screen and (min-width: 882px) {
    #terugnaarboven2 {
        display: none;
    }
}



main article {
    text-align: center;
    height: 100vh;
    display: block;
    align-items: center;
    align-content: center;

}

main article h1 {
    font-family: Palatino, sans-serif;
    font-size: 75pt;
}

main article h2 {
    font-family: Palatino, sans-serif;
    font-size: 15pt;
    color: #c4c4c4;
    margin: 20px auto;
    font-weight: 100
;
}



img {
    width: 100%;

}

#head {
    width: 620px;

}



#pic {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #A49FFF;
    font-family: Lato, sans-serif;
    font-size: 20pt;
    font-weight: 500;
}

#subpic p {
    font-family: Lato, sans-serif;
    font-size: 14pt;
    padding-top: 2rem;
}

#head i {
    color: #A49FFF;
}

.info {
    width: 100%;
}

.quote {
    width: 50%;
    margin: 4rem auto;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 12pt;
    font-weight: 300;
}

#cv  {
    width: 70%;
    margin: 0 auto;
}

.hobby {
    text-align: right;
}

#cv .col-md-6 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#cv h3 {
    color: #A49FFF;
    margin-bottom: 1rem;
}
#cv img {
    width: 3rem;
}

#cv .skills {
    margin: 3rem auto;
}

#cv p {
    font-weight: 300;
    font-size: 10pt;
}

@media screen and (max-width: 900px) {
    main div {
        width: 100%;
    }
    main article {
        width: 100%;
        margin: 0;
        padding: 200px 0;
    }
    main article h1 {
        font-size: 70px;
    }
    #head {
        width: 100%;
    }

    @media screen and (max-width: 882px) {
        #subpic p {
            font-size: 9pt;
        }
    }

    @media screen and (max-width: 400px) {
        main article h1 {
            font-size: 60px;
        }

        #subpic p {
            font-size: 7pt;
        }
    }}


    
.welkom {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10rem;
    margin-top: 10rem;
    height: 80vh;
    align-items: center;
    display: flex;
}

.topic {
    margin: 20rem auto;
    display: flex;
    flex-direction: column;
}

.topic div {
    width: 50%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}
.pic {
    align-items: center;
}

.bij h1 {
    font-size: 40pt;
    font-family: Palatino;
    margin-bottom: 1rem;
}

.bij p {
    font-size: 12pt;
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: rgba(115, 115, 115, 0.73);
    line-height: 150%;
}
.bij button {
    border-radius: 15px;
    padding: 1rem 2rem;
    background-color: rgba(241, 150, 248, 0.7);
    border: #f196f8 solid 2px;
    color: white;
}


.bij button:hover {
    box-shadow: 0 0 15px 2px rgb(239, 190, 243);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;

}

.pic img {
    width: 100%;
    scale: .6; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: cover contain;
    border-radius: 1.5rem;
}

.bij {
    scale: .9; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry 50px;
    
}

@keyframes fade-in {
    to {scale: 1; opacity: 1;}
}

.but1 {
    padding: 1rem 3rem;
    margin-top: 2rem;
    border-radius: 18px;
    background-color: rgba(241, 150, 248, 0.63);
    border: #f196f8 solid 2px;
    color: #ffffff;
    font-size: 11pt;
    font-weight: 00;
    font-family: Helvetica, sans-serif;
    transition: all 0.5s ease;
}

.but1:hover {
    box-shadow: 0 0 30px 5px rgba(241, 150, 248, 0.35);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #520e43;
    background-color: rgba(241, 150, 248, 0.94);
    cursor: url(assets/finga.png), auto !important;
}


@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    width: 100%;
    background: white;
    white-space: nowrap;
    position: relative;
    margin: 0 auto;
    scale: .9; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry 50px;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  
  .logos-slide {
    display: inline-block;
    animation: 30s slide infinite linear;
  }
  
  .logos-slide img {
    height: 70px;
    width: auto;
    margin: 0 1em;
    scale: .6; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: cover contain;
  }

  .skills {
    width: 50%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
  }