@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

main {
    background-image: url("assets/maan1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
}

nav a img{
    width: 7rem;
}

@media screen and (max-width:600px) {
    nav h1{
        font-size: 23px;
    }
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li{
    margin-right: 4rem;
}
nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
    color: #f196f8;
    text-shadow: 2px 4px 4px rgb(107, 107, 215);
}
nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
nav .menu-btn i:hover{
    color: #f196f8;
    text-shadow: 2px 4px 4px rgb(107, 107, 215);
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[type="checkbox"]{
    display: none;
}
@media (max-width: 1000px){
    nav{
        padding: 0 40px 0 50px;
    }
}
@media (max-width: 920px) {
    nav .menu-btn i{
        display: block;
        font-size: 30px;
    }
    nav {
        background-color: rgba(17, 17, 17, 0.9);
        height: 6rem;
        position: fixed;
        top: 0;
    }
    nav a img {
        width: 5rem;
    }
    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    nav ul{
        position: fixed;
        top: 96px;
        left: -100%;
        background: rgba(17, 17, 17, 0.9);
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 40px 0;
    }
    nav ul li a{
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 30px;
        transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
        margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
        background: none;
        color: #f196f8;
    }
}
.scroll-watcher {
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #f196f8;
    width: 100%;
    scale: 0 1;
    transform-origin: left;

    animation: scroll-watcher linear;
    animation-timeline: scroll();

    filter: drop-shadow(3px 5px 9px rgba(185, 12, 187, 0.43));
}

@keyframes scroll-watcher {
    to { scale: 1 1;}

}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #1b1b1b;
}
.content div{
    font-size: 40px;
    font-weight: 700;
}
/* Header */

/* Hero*/
.hero {
    padding-top: 250px;
    align-content: center;
    background-image: url("assets/hero5.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 270px;
    height: 100vh;
}


.hero .intro{
    color: #fffcfc;
    margin: 0 auto;
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -200px;
    text-align: center;
    filter: drop-shadow(3px 5px 9px rgba(7, 1, 7, 0.116));
   
}

.hero h2 {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0%;
    padding: 1rem;
    font-size: 15pt;
}

.hero .intro h1  {
    color: #fffcfc;
    font-size: 70pt;
    line-height: 90%;

}

.hero h3 {
    padding-top: 1rem;
    font-size: 16pt;
    font-weight: 100;
}

.hero .intro p {
    font-size: 12pt;
    color: #000000;
    margin-top: 1rem;
}

@keyframes fade-out {
    to {opacity: 0}
}

.but1 {
    padding: 1rem 3rem;
    margin-top: 2rem;
    border-radius: 18px;
    background-color: rgba(241, 150, 248, 0.63);
    border: #f196f8 solid 2px;
    color: #ffffff;
    font-size: 11pt;
    font-weight: 500;
    font-family: Helvetica, sans-serif;
    transition: all 0.5s ease;
}

.but1:hover {
    box-shadow: 0 0 30px 5px rgba(241, 150, 248, 0.35);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: rgba(241, 150, 248, 0.94);
    cursor: pointer;
}

@media (max-width: 920px) {
    .hero .intro {
        margin: 0 auto;
        padding: 2rem;
    }
}


#terugnaarboven {
    position: fixed;
    bottom: 0;
    right: 25px;
    background-color: #FF8FF1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.5rem 2rem;
}
#terugnaarboven p {
    color: #ffffff;
    text-decoration: none;
}
#terugnaarboven2 {
    position: fixed;
    bottom: 0;
    right: 25px;
    background-color: #FF8FF1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1rem;
}
#terugnaarboven2 p {
    color: #ffffff;
    font-size: 25pt;
    text-decoration: none;
    text-align: center;
}
#terugnaarboven2:hover, #terugnaarboven:hover {
    box-shadow: 0 0 30px 5px rgb(234, 116, 243);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
}
@media screen and (max-width: 882px) {
    #terugnaarboven {
        display: none;
    }

}
@media screen and (min-width: 882px) {
    #terugnaarboven2 {
        display: none;
    }
}





.bento {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4ff;
}

.cont {
    width: 60%;
    height: 70vh; 
    padding: 1em;
    display: flex;
    gap: 1em; 
}

.col-left, .col-right {
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 1em; 
}


.row {
    flex: 1;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.row2 {
    flex: 2;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 3em;
    background-color: rgb(255, 221, 250);
}

.row2 h1{
    font-size: 65pt;
    font-weight: 800;
    line-height: 100%;
    color: #1d0716;
}

.row2 p {
    font-size: 14pt;
}

.row3 {
    display: flex;
    gap: 1em;
    flex: 1;
    background-color: rgba(255, 255, 255, 0);
}

.row-col {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    overflow: hidden;
    height: 100%;
    background-color: rgba(159, 230, 54, 0.1);
}

.row img, .row-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.top {
    flex: 2;
    background-image: url(assets/intr.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding: 2em;
}

.bottom {
    flex: 1;
}


.left {
    background-image: url(assets/uxie.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: end;
    justify-content: start;
    padding: 1em;

}

.right {
    background-image: url(assets/tinyhousebnw.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: end;
    justify-content: start;
    padding: 1em;
}

.row3 p{
    filter: drop-shadow(3px 5px 9px rgba(7, 1, 7, 0.493));
    font-size: 21pt;
    font-weight: 600;
    color: #f2f2f2;

}

.but2 {
    background-color: rgba(242, 150, 248, 0);
    border: #ffffff solid 2px;
    transition: all 0.5s ease;
    color: #ffffff;
    margin-right: 1em;
}


.but2:hover {
    box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.35);
    background-color: rgba(255, 255, 255, 0.94);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #000000;
}

.expertise {
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.output {
    height: 40%;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    cursor: help;
}

.output1 {
    border-right: solid white 3px;
    border-bottom: solid white 3px;
    width: 50%;
    height: 50%;
}

.output2 {
    border-bottom: solid white 3px;
    border-left: solid white 3px;
    width: 50%;
    height: 50%;
}

.output3 {
    border-top: solid white 3px;
    border-right: solid white 3px;
    width: 50%;
    height: 50%;
}

.output4 {
    border-left: solid white 3px;
    border-top: solid white 3px;
    width: 50%;
    height: 50%;
}
.info {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30pt;
    font-weight: 800;
    position: relative;
    transition: color 0.5s ease;
}
.info:hover {
    color: #ff67e6;
    transition: color 0.5s ease;

    
}

.tooltiptext {
    opacity: 0;
    color: #fff;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.164));
}

.output1 .tooltiptext , .output2 .tooltiptext {
    /* background-color: rgba(0, 0, 0, 0.527);*/
    text-align: center;
    padding: 1rem;
    border-radius: 6px;
    font-size: 11pt;
    font-weight: 100;
    position: absolute;
    bottom: 70%; 
    transform: translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 1;
    margin: 1rem;
}

.output1:hover .tooltiptext, .output2:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); 
}


.output3 .tooltiptext, .output4 .tooltiptext {
    text-align: center;
    padding: 1rem;
    border-radius: 6px;
    font-size: 11pt;
    font-weight: 100;
    position: absolute;
    top: 70%; 
    transform: translateY(-50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 1;
    margin-top: 0.5rem;
    margin: 1rem;
}

.output3:hover .tooltiptext, .output4:hover .tooltiptext {
    opacity: 1;
    transform: translateY(0);
}
